<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container search-table">
  <div class="search-box">
    <div class="row">
      <div class="col-md-9">
        <input
          type="text"
          id="myInput"
          class="form-control"
          [formControl]="queryField"
          placeholder="Pesquisar Libs"
        />
      </div>
      <div class="col-auto">
        <button class="btn btn-success" type="button" (click)="onSearch()">Pesquisar</button>
      </div>
    </div>
  </div>
  <div class="search-list">
    <h3>303 Records Found</h3>
    <table class="table" id="myTable">
      <thead>
        <tr>
          <th>Title</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>HTML</td>
          <td>Web Development</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
