<p yellowBackground>texto com fundo amarelo</p>

<button yellowBackground>
    teste diretiva fundo amarelo
</button>

<br><br>

<p highlightMouse>
    texto com highlight quando passo o mouse
</p>

<br>

<p [highlight]="'red'" [defaultColor]="'gray'">
    texto com highlight com cores customizadas
</p>

<div *ngIf="showCourses">
    Lista de Cursos
</div>

<div *myNgElse="showCourses">
    Lista de cursos vazia
</div>

<button (click)="onShowCourses()" class="btn btn-primary">Exibir ou Esconder Cursos</button>

<ng-template [myNgElse]="showCourses">
    <div>
        Lista de cursos vazia
    </div>
</ng-template>
