<div class="mb-3 mt-3">
  <label for="formFile" class="form-label">Selecionar Arquivo</label>
  <input
    class="form-control"
    name="file"
    type="file"
    id="formFile"
    multiple
    (change)="onChange($event)"
  />
</div>

<div class="progress mb-3">
  <div
    class="progress-bar"
    role="progressbar"
    [style.width]="progress + '%'"
  >
    {{ progress }} %
  </div>
</div>

<button class="btn btn-primary" type="button" [disabled]="!files" (click)="onUpload()">
  Salvar Arquivo
</button>

<button class="btn btn-primary ml-3" type="button" (click)="onDownloadExcel()">
  Download Excel
</button>

<button class="btn btn-primary" type="button" (click)="onDownloadPdf()">
  Download PDF
</button>
