<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <a class="navbar-brand p-3" href="#">HTTP</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" href="#">Home </a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" [routerLink]="['/courses']" routerLinkActive="active">Courses</a>
    </li> -->

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/rxjs-poc']" routerLinkActive="active">RXJS Poc</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/upload']" routerLinkActive="active">Upload Arquivo</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/reactive-search']" routerLinkActive="active">Pesquisa Reativa</a>
    </li>
  </ul>

</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
