.header{
    background-color: #0096c7;
}

.title-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0096c7;
    position: fixed;
}

.title-group li{
    list-style: none;
    margin-left: 10px;
    cursor: pointer;
}

.title-group li.active a{
    color: #ff0;
}

.title-group a{
    text-decoration: none;
    color: #fff;
}