<mat-toolbar class="mat-elevation-z3 header">
  <span class="title-group">
    <li routerLink="/">
      <a>Home</a>
    </li>
    <li routerLinkActive="active" routerLink="/login">
      <a>Login</a>
    </li>
    <li routerLinkActive="active" routerLink="/courses" [queryParams]="{page:1}">
      <a>Courses</a>
    </li>
    <li [routerLink]="['courses', idCourse.value]">
      <a>Courses Id</a>
    </li>
    <li routerLinkActive="active" routerLink="/student">
      <a>Alunos</a>
    </li>
  </span>
</mat-toolbar>

<br>

<p>Entre com o id do curso</p>
<input type="text" #idCourse>
<router-outlet></router-outlet>