<form  class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="col-md-12 mt-2">
      <label for="name" class="control-label">Nome</label>
      <input type="text" class="form-control" id="name"
      formControlName="name" [ngClass]="ApplyErrorClass('name')">
      <div class="invalid-feedback">Nome Obrigatório!</div>
    </div>

    <div class="col-md-12 mt-2">
      <label for="email" class="control-label">Email</label>
      <input type="email" class="form-control" id="email"
      formControlName="email" [ngClass]="ApplyErrorClass('email')">
      <div class="invalid-feedback">{{ checkInvalidEmail() }}</div>
    </div>

    <div formGroupName="address">

      <div class="row">

        <div class="col-md-3 mt-2">
          <label for="cep" class="control-label">CEP</label>
          <input type="text" class="form-control" [ngClass]="ApplyErrorClass('address.cep')" id="cep"
          formControlName="cep" (blur)="searchCep()">
          <div class="invalid-feedback">CEP Obrigatório!</div>
        </div>

        <div class="col-md-3 mt-2">
          <label for="number" class="control-label">Número</label>
          <input type="text" class="form-control" [ngClass]="ApplyErrorClass('address.number')" id="number"
          formControlName="number">
          <div class="invalid-feedback">Número Obrigatório!</div>
        </div>

        <div class="col-md-6 mt-2">
          <label for="complement" class="control-label">Complemento</label>
          <input type="text" class="form-control" id="complement"
          formControlName="complement">
        </div>

      </div>

      <div class="col-md-12 mt-2">
        <label for="street" class="control-label">Rua</label>
        <input type="text" class="form-control" [ngClass]="ApplyErrorClass('address.street')"
        id="street" formControlName="street">
        <div class="invalid-feedback">Rua Obrigatório!</div>
      </div>

      <div class="row">

        <div class="col-md-6 mt-2">
          <label for="district" class="control-label">Bairro</label>
          <input type="text" class="form-control" [ngClass]="ApplyErrorClass('address.district')"
          id="district" formControlName="district">
          <div class="invalid-feedback">Bairro Obrigatório!</div>
        </div>

        <div class="col-md-4 mt-2">
          <label for="city" class="control-label">Cidade</label>
          <input type="text" class="form-control" id="city" formControlName="city" readonly>
        </div>

        <div class="col-md-2 mt-2">
          <label for="state" class="control-label">Estado</label>
          <input type="text" class="form-control" id="state" formControlName="state" readonly>
        </div>

      </div>

    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <button type="submit" (click)="reset()" class="btn btn-secondary">Cancelar</button>

    <app-form-debug [form]="form"></app-form-debug>

</form>
