<!-- <app-directive-ngif></app-directive-ngif> -->
<!-- <app-directive-ngswitch></app-directive-ngswitch> -->
<!-- <app-directive-ngfor></app-directive-ngfor> -->
<!-- <app-directive-ngclass></app-directive-ngclass> -->
<!-- <app-directive-ngstyle></app-directive-ngstyle> -->
<!-- <app-elvis-operator></app-elvis-operator> -->
<!-- <app-example-ng-content>aqui meu content
    <div class="title">Titulo da painel</div>
    <div class="body">Conteúdo do painel</div>
    <div class="body">Conteúdo do painel2</div>
</app-example-ng-content> -->
<app-custom-directives></app-custom-directives>