<h3>Examples Pipes</h3>

<p>Nome: {{ book.title | uppercase | lowercase | camelCase }}</p>
<p>Avaliação: {{ book.rating | number:'1.1-1' }}</p>
<p>Número de Páginas: {{ book.numberPages }}</p>
<p>Preço: {{ book.price | currency:'BRL' }}</p>
<p>Data de Lançamento: {{ book.dateLaunch | date }}</p>
<p>Link: {{ book.url }}</p>

<p>livro: {{ book | json }}</p>

<input type="text" [(ngModel)]="filter">
<br>
<input type="text" #newValue>
<button (click)="addCourse(newValue.value)">Add Curso</button>

<h4>Pipe Puro</h4>

<ul>
    <li *ngFor="let bk of books | filterArray:filter">
        {{ bk }}
    </li>
</ul>

<h4>Pipe Impuro</h4>

<ul>
    <li *ngFor="let bk of books | filterArrayImpure:filter">
        {{ bk }}
    </li>
</ul>


<h4>Maneira correta de usar filtros nos projetos</h4>

<ul>
    <li *ngFor="let bk of books | filterArrayImpure:filter">
        {{ bk }}
    </li>
</ul>

<p>{{ valueAsync | async }}</p>
<p>{{ valorAsync2 | async }}</p>
